body{
	background-image: url(../img/bg.jpg);
}

#startBox{

}

#startDiv{

}

#startTextDiv{

}

#startText{

}

.jumbotron{
	background: linear-gradient(rgba(158,158,158,0.2), rgba(216,216,216,.2)) !important;
	/*-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: #fff;*/
   	color:#fff;
}

.startbtn{

	border:2px #666 solid;
	border-radius: 8px;
	width:50%;
	color:#fff;

}

#startYes{
	background:linear-gradient(#0f1, #091);
	 box-shadow: 3px 4px 6px #111;
}

#startNo{
	background:linear-gradient(#e00, #900);
	box-shadow: 3px 4px 6px #111;
}

#startYes:hover{
	background:none;
	background-color: #0e1;

}

#startNo:hover{
	background:none;
	background-color: #f00;

}

.stTxt{
	font-size: 16pt;
}

.answers{
	text-align: center;
	font-size: 14pt;
	border:2px #666 solid;
	border-radius: 5px;
	color:white;
	background-color: #0af;
	margin-top: 20px;
  	box-shadow: 3px 4px 6px #111;
    width:100%;
}

.answers:hover{
	border:2px #666 solid;
	border-radius: 5px;
	color:#000;
	background-color: #0ff;

}


.answersWrong{
	text-align: center;
	font-size: 14pt;
	border:2px #666 solid;
	border-radius: 5px;
	color:#000;
	background-color: #f00;
	margin-top: 20px;
  	box-shadow: 3px 4px 6px #111;
    width:100%;
}

.answersRight{
	text-align: center;
	font-size: 14pt;
	border:2px #666 solid;
	border-radius: 5px;
	color:#000;
	background-color: #3e0;
	margin-top: 20px;
  	box-shadow: 3px 4px 6px #111;
    width:100%;
}

.answersTxt{
	font-size: 14pt;
}

#questionHead{
	
	padding-bottom: 10px;
}

#questionText{
	font-size: 16pt;
	color:#000;
	
}

#questionTextDiv{
	
	border: 2px black solid;
    padding: 25px;
    border-radius: 10px;
    background: linear-gradient(#eee, #999) !important;
    box-shadow: 3px 4px 6px #111;
}

#timerDiv{
	border: 2px green solid;
	margin-top: 30px;
	border-radius: 5px;
	background: linear-gradient(#eee, #999) !important;
	box-shadow: 3px 4px 6px #111;
	color:#000;
}

#timer{
	margin-top: 0px;
}

#hintDiv{
	margin-top: 25px;
}

#hintBtn{
	box-shadow: 3px 4px 6px #111;
}

#hints{
	font-size: 12pt;

	
}

.points{
	text-align: center;
}